<%- include('includes/head.ejs') %>
</head>

<body>
  <%- include('includes/navigation.ejs') %>
  <div class="centered">
    <h1><strong>ERROR:404!!</strong></h1>
    <p><em>Page Not Found!</em></p>
    <a href="/">Return Home</a>
  </div>

  <%- include('includes/end.ejs') %>