.form-control {
  margin: 1rem 0;
}
.form-control input.invalid,
.form-control textarea.invalid {
  border-color: red;
}

.form-control label,
.form-control input,
.form-control textarea {
  display: block;
  width: 100%;
  margin-bottom: 0.25rem;
}

.form-control input,
.form-control textarea {
  border: 1px solid #a1a1a1;
  font: inherit;
  border-radius: 2px;
}

.form-control input:focus,
.form-control textarea:focus {
  outline-color: #00695c;
}

.reset-btn a {
  padding: 0.25rem 1rem;
  text-decoration: none;
  font: inherit;
  color: #4475e0;
  background: rgb(236, 230, 230);
  border-radius: 3px;
  cursor: pointer;
}
